In [ ]:
from geopy.geocoders import Nominatim

# calling the Nominatim tool and create Nominatim class
loc = Nominatim(user_agent="Geopy Library")

# entering the location name
getLoc = loc.geocode("12320 SW 127th Ave, Miami, FL 33186")

# printing address
print(getLoc.address)

# printing latitude and longitude
print("Latitude = ", getLoc.latitude, "\n")
print("Longitude = ", getLoc.longitude)

12320, Southwest 127th Avenue, Miami-Dade County, Florida, 33186, United States
Latitude =  25.6543154

Longitude =  -80.3995361

In [14]:
import pandas as pd
import requests as rq
import bs4
from io import StringIO
import streamlit as st

## Getting the data from Wikipedia
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/102.0.0.0 Safari/537.36"
}
response = rq.get(url.strip(), headers=headers, timeout=10)
bs4page = bs4.BeautifulSoup(response.text, 'html.parser')
tables = bs4page.find_all('table',{'class':"wikitable"})
gdp = pd.read_html(StringIO(str(tables[0])))[0]
gdp = gdp.dropna()
gdp = gdp.drop(gdp.index[0]) # drop world from list
gdp.rename(columns={"IMF (2025)[1][6]": "IMF"}, inplace=True)
gdp.rename(columns={"World Bank (2022â€“24)[7]": "World Bank"}, inplace=True)
gdp.rename(columns={"United Nations (2023)[8]": "United Nations"}, inplace=True)
gdp["IMF"] = pd.to_numeric(gdp["IMF"], errors="coerce")
gdp["World Bank"] = pd.to_numeric(gdp["World Bank"], errors="coerce")
gdp["United Nations"] = pd.to_numeric(gdp["United Nations"], errors="coerce")
gdp = gdp.dropna()
gdp["gdp_quantile_group"] = pd.qcut(gdp["IMF"], q=4, labels=["Low", "Medium", "High", "Very High"])
gdp.head()

  Country/Territory         IMF  World Bank  United Nations gdp_quantile_group
1     United States  30507217.0  29184890.0      27720700.0          Very High
2        China[n 1]  19231705.0  18743803.0      17794782.0          Very High
3           Germany   4744804.0   4659929.0       4525704.0          Very High
4             India   4187017.0   3912686.0       3575778.0          Very High
5             Japan   4186431.0   4026211.0       4204495.0          Very High